//font:
$regular14: normal 400 14px "Roboto", sans-serif;
$regular12: normal 400 12px "Roboto", sans-serif;
$medium20: normal 500 20px "Roboto", sans-serif;
$medium14:normal 500 14px "Roboto", sans-serif;
$bold18: normal 700 18px "Roboto", sans-serif;